# Builds
*.apk
*.jar
!dist/debug.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# 不要忽略 jadx 输出
!wakeup_java_source/
!wakeup_decoded/

# 不要忽略 docs
!README.md
!PATCHES.md